html {
    box-sizing: border-box;
}

body {
    background-image: url(../../images/greenBackground.png); 
    background-repeat: repeat-y; 
    background-size: cover;
}

.menu {
    padding: 15% 25% 25% 25%; 
}

    .menu h1 {
        text-align: center;
    }

        .menu h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }