html {
    box-sizing: border-box;
}

body {
    background-color: #005C34;
    background-size: cover;
    background-position: center center fixed; 
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    overflow: hidden;
}

body.howtoplay {
    overflow-y: scroll;
}

/*
    Dice Styles
*/

.container {
    width: 45%;
    height: 200px;
    margin-left: 26%;
    display: block;
    border-radius: 20px;
    border: thick solid #0A0A0A;
    background: #171717;
}

.dice {
    position: relative;
    margin-top: 17%;
    margin-left: 30%;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #171717;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg,  #272727, #0A0A0A
    );
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #0A0A0A;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFFFFF;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.left {
    transform: rotateY(90deg) translateZ(50px);
}

.right {
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    margin: -15px 0 0 -15px;
}

.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0 #FFFFFF,
    0 25px #FFFFFF,
    40px 25px #FFFFFF,
    0 50px #FFFFFF,
    40px 50px #FFFFFF;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px #FFFFFF;
}

.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px #FFFFFF,
                52px 52px #FFFFFF,
                52px 0 #FFFFFF,
                0 52px #FFFFFF;
}

.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0 #FFFFFF,
    0 40px #FFFFFF,
    40px 40px #FFFFFF;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px #FFFFFF,
                50px 50px #FFFFFF;
} 

.menu {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
    border: thick solid #000000;
    border-radius: 30%;
}

    .menu .title h1{
        text-align: center;
        display: block;
        color: #FFFFFF;
        font-size: 500%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .menu h1 {
        text-align: center;
    }

        .menu h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

.choose_players {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
    border: thick solid #000000; 
    border-radius: 15%;
}
    .choose_players h1 {
        text-align: center;
        font-size: 300%;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

        .choose_players h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

    .choose_players h2 {
        text-align: center;
        color: #FFFFFF;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

        .choose_players h2 select {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

.options {
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    border: thick solid #000000;
    border-radius: 30%;
}
    .options h1 {
        text-align: center;
        font-size: 300%;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

        .options h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

    .options h2 {
        text-align: center;
        color: #FFFFFF;
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }

        .options h2 select {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

.choose_names {
    width: 40%;
    margin-top: 0;
    margin-left: 30%;
    border: thick solid #000000;
    border-radius: 30%;
}
    .choose_names h1 {
        text-align: center;
        color: #FFFFFF;
        font-size: 300%;
        font-family: Arial, Helvetica, sans-serif;
    }

        .choose_names h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

    .choose_names h1 div#names input {
        display: inline-block;
        background-color: #1C352D;
        color: #FFFFFF;
        border-radius: 15%;
        font-size: large;
    }

.instructions {
    width: 40%;
    margin-top: 0;
    margin-left: 30%;
    border: thick solid #000000;
    border-radius: 10%;
}

    .instructions h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

    .instructions h2 {
        text-align: center;
        color: #FFFFFF;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    .instructions ul {
        color: #FFFFFF;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

        .instructions ul li ul li {
            color: #FFFFFF;
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
        }

    .instructions .section_parent {
        display: flexbox;
        text-wrap: wrap;
        text-align: left;
    }

    .instructions .section_parent .section_child {
        flex: 1;
        margin-bottom: 5%;
        vertical-align: top;
    }

.button {
    text-wrap: nowrap;
}

    .button h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

        .button h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 30%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

.player_turns {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
    border: thick solid #000000;
    border-radius: 15%;
}

    .player_turns h1 {
        text-align: center;
        color: #FFFFFF;
        font-size: 300%;
        font-family: Arial, Helvetica, sans-serif;
    }

        .player_turns h1 button {
            color: #FFFFFF;
            border-radius: 25%;
            display: inline-block;
            background-color: #1C352D;
            font-size: larger;
            width: 50%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

    .player_turns h2 {
        text-align: center;
        color: #FFFFFF;
        font-size: 200%;
        font-family: Arial, Helvetica, sans-serif;
    }
